<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
    <!-- Mask -->
    <span class="mask bg-gradient-dark opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <!-- <h1 class="display-2 text-white">Machine Master</h1> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
        <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card  shadow">
            <div class="card-header bg-transparent">

                <!-- <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                    <h2 class="text-white mb-0">Sales value</h2>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                        <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                        <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                        </a>
                    </li>
                    </ul>
                </div>
                </div> -->
            </div>
            <div class="card-body">
                <div class="col-md-12 px-1">
                    <div class="form-group">
                      <label>Machine No</label>
                      <input type="number" class="form-control" placeholder="Machineno"  id="machineno" name="machineno" [(ngModel)]="machineno">
                    </div>
                  </div>
                    <div class="col-md-12 px-1">
                      <div class="form-group">
                        <label>Machine Name</label>
                        <input type="text" class="form-control" placeholder="Enetr Machine Name"  id="machine_name" name="machine_name" [(ngModel)]='machine_name' required>
                      </div>
                    </div>
                    <div class="col-md-12 px-1">
                      <div class="form-group">
                        <label>PinNo</label>
                        <input type="number" class="form-control" placeholder="Enter PinNo"  id="pinno" name="pinno" [(ngModel)]="pinno">
                      </div>
                    </div>
                    <div class="col-md-12 px-1">
                      <div class="form-group">
                        <label>FriendlyName</label>
                        <input type="text" class="form-control" placeholder="Enter Friendlyname eg.em1,em2"  id="friendlyname" name="friendlyname" [(ngModel)]="friendlyname">
                      </div>
                    </div>
                    <div class="text-center">
                        <!-- <button type="button" class="btn btn-primary mt-4">Save</button> -->
                        <button class="btn btn-primary mt-4 btn-round" (click)="AddData()" *ngIf="id === 0">Submit</button>
                        <button class="btn btn-success mt-4 btn-round" (click)="UpdateData()" *ngIf="id >= 1">Update</button>
                    </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                    <h3 class="mb-0 text-center">MachineData</h3>
                    </div>
                    <!-- <div class="col text-right">
                    <a href="#!" class="btn btn-sm btn-primary"> all</a>
                    </div> -->
                </div>
                </div>
                <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                         <th scope="col">
                            SrNo
                          </th>
                          <th scope="col">
                            MachineNo
                          </th>
                          <th scope="col">
                            MachineName
                          </th>
                          <th scope="col">
                            PinNo
                          </th>
                          <th scope="col">
                            FriendlyName
                          </th>
                          <th scope="col" class="text-right">
                            Created
                          </th>
                          <th scope="col" class="text-right">
                            Modified
                          </th>
                          <th class="text-right">
                            Action
                          </th>
                        <!-- <th scope="col">Page name</th>
                        <th scope="col">Visitors</th>
                        <th scope="col">Unique users</th>
                        <th scope="col">Bounce rate</th> -->
                    </tr>
                    </thead>
                    <tbody *ngFor="let machine of MachineData">
                        <tr >
                          <th scope="row">
                            {{machine.id}}
                          </th>
                          <td>
                            {{machine.machineno}}
                          </td>
                          <td>
                            {{machine.machine_name}}
                          </td>
                          <td>
                            {{machine.pinno}}
                          </td>
                          <td>
                            {{machine.friendly_name}}
                          </td>
                          <td class="text-right">
                            {{machine.created}}
                          </td>
                          <td class="text-right">
                            {{machine.modified}}
                          </td>
                          <td>
                            <button type="button" class="btn btn-info btn-round btn-sm" (click)="Edit($event,machine.id)">Edit</button>
                            <button type="button" class="btn btn-danger btn-round btn-sm" (click)="Delete($event,machine.id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    <!-- <tbody>
                    <tr>
                        <th scope="row">
                        /argon/
                        </th>
                        <td>
                        4,569
                        </td>
                        <td>
                        340
                        </td>
                        <td>
                        <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                        /argon/index.html
                        </th>
                        <td>
                        3,985
                        </td>
                        <td>
                        319
                        </td>
                        <td>
                        <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                        /argon/charts.html
                        </th>
                        <td>
                        3,513
                        </td>
                        <td>
                        294
                        </td>
                        <td>
                        <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                        /argon/tables.html
                        </th>
                        <td>
                        2,050
                        </td>
                        <td>
                        147
                        </td>
                        <td>
                        <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                        /argon/profile.html
                        </th>
                        <td>
                        1,795
                        </td>
                        <td>
                        190
                        </td>
                        <td>
                        <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                        </td>
                    </tr>
                    </tbody> -->
                </table>
                </div>
            </div>
            </div>
        </div>
</div>
