<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                    <div class="form-group">
                        <!-- -alternative -->
                        <div class="input-group flex-nowrap mb-3">
                          <span class="input-group-text" id="basic-addon1">Machine</span>&nbsp;&nbsp;
                          <!-- <label for="dateValue1" class="form-control">Machine </label> -->
                          <select class="form-control" placeholder="MachineName" [(ngModel)]='machineno' id="machineno" name="machineno" *ngIf="MachineData" (change)="onMachineChange($event)">
                            <option *ngFor="let machine of MachineData" [value]="machine.friendly_name">{{machine.machine_name}}</option> 
                        </select>
                        </div>
                      </div>&nbsp;&nbsp;&nbsp;&nbsp;  
                      <div class="form-group">
                        <div class="input-group flex-nowrap mb-3">
                          <span class="input-group-text" id="basic-addon1">Batchno</span>&nbsp;&nbsp;
                          <!-- <label for="dateValue1" class="form-control">Batchno </label> -->
                          <select class="form-control" placeholder="Batchno" [(ngModel)]='batchno' id="batchno" name="batchno" *ngIf="BatchData" >
                            <option *ngFor="let machine of BatchData" [value]="machine.batchno">{{machine.batchno}}</option> 
                        </select>
                        </div>
                      </div>&nbsp;&nbsp;&nbsp;&nbsp;  
                  <div class="form-group" *ngIf="type==2">
                    <div class="input-group input-group-alternative mb-3">
                      <label for="dateValue" class="form-control">From : </label>
                      <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="dateValue" class="form-control">
                      <owl-date-time [pickerMode]="'dialog'" #dt></owl-date-time>
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                    </div>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="form-group" *ngIf="type==2">
                    <div class="input-group input-group-alternative mb-3">
                      <label for="dateValue1" class="form-control">To : </label>
                      <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="dateValue1" class="form-control">
                      <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                    </div>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;
          
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" (click)="showData()">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12" *ngIf="batchDetail">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-white ls-1 mb-1">History Data</h6>               
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div>
              <!-- Chart wrapper -->
              <!-- <canvas id="chart-sales" class="chart-canvas"></canvas> -->
              <highcharts-chart
              [Highcharts] = "highcharts" 
              [options] = "chartOptions" 
              style = "width:100%; height: 600px; display: block;">
             </highcharts-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-sm-12 mb-5 mb-xl-0 mt-1" *ngIf="batchDetail">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Batch Summary</h3>
              </div>
              <div class="col text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
          <div class="table-responsive" *ngIf="batchDetail">
            <!-- Projects table -->
            <table class="table  align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Batchno</th>
                  <th scope="col">StartTime</th>
                  <th scope="col">EndTime</th>
                  <th scope="col">Standard Batch Time(Min.)</th>
                  <th scope="col">Batch Run Time(Min.)</th>                  
                  <th scope="col">Ton/Kwh</th>
                  <th scope="col">Set Energy</th>
                  <th scope="col">Used Energy</th>                  
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of batchSummary">
                    <td scope="row">
                        {{data.batchno}}
                      </td>
                      <td scope="row">
                        {{data.batchstarttime | date:'dd-MM-yy HH:mm:ss':'+0530'}}
                      </td>
                      <td scope="row">
                        {{data.batchendtime | date:'dd-MM-yy HH:mm:ss':'+0530'}}
                      </td>
                      <td>
                        {{data.stdbatchtime}}
                    </td>
                      <td>
                          {{data.batchtime/60 | number : '1.2-2'}}
                      </td>  
                      <td>
                          {{data.ton_kwh}}
                      </td>  
                      <td>
                          {{data.kwh}}
                      </td> 
                      <td>
                          {{data.used_kwh}}
                      </td>   
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-sm-12 mb-5 mb-xl-0 mt-1" *ngIf="batchDetail">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Batch data</h3>
              </div>
              <div class="col text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
          <div class="table-responsive" *ngIf="batchDetail">
            <!-- Projects table -->
            <table class="table  align-items-center table-flush " datatable [dtOptions]="dtOptions">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Timestamp</th>
                  <th scope="col">Voltage</th>
                  <th scope="col">Current</th>
                  <th scope="col">Power</th>
                  <th scope="col">pf</th>
                  <th scope="col">kwhr</th>
                  <th scope="col">Batchno</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of batchDetail">
                      <td scope="row">
                        {{data.timestamp | date:'dd-MM-yy HH:mm:ss':'+0530'}}
                      </td>
                      <td>
                          {{data.Voltage | number : '1.2-2'}}
                      </td>  
                      <td>
                          {{data.Current | number : '1.2-2'}}
                      </td>
                      <td>
                          {{data.Power | number : '1.2-2'}}
                      </td>  
                      <td>
                          {{data.Pf | number : '1.2-2'}}
                      </td> 
                      <td>
                          {{data.Kwhr | number : '1.2-2'}}
                      </td>
                      <td>
                          {{data.batchno}}
                      </td>  
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>