::ng-deep .modal-dialog{
    max-width: 95% !important;
    width: 95% ;
  }
  ::ng-deep .cdk-overlay-container{
    z-index:1200 !important;
}
thead, tbody { display: block !important; }

tbody {
    height: 200px !important;       /* Just for the demo          */
    overflow-y: auto !important;    /* Trigger vertical scroll    */
    overflow-x: hidden !important;  /* Hide the horizontal scroll */
}
.chart-canvas{
  height: 300px !important;
}