<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
    <!-- Mask -->
    <span class="mask bg-gradient-dark opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <!-- <h1 class="display-2 text-white">Machine Master</h1> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
        <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card  shadow">
            <div class="card-header bg-transparent">
            </div>
            <div class="card-body">
                <div class="col-md-12 px-1">
                    <div class="form-group">
                      <label>Shift No</label>
                      <input type="number" class="form-control" placeholder="ShiftNo"  id="shiftno" name="shiftno" [(ngModel)]="shiftno">
                    </div>
                  </div>
                    <div class="col-md-12 px-1">
                      <div class="form-group">
                        <label>StartTime</label>
                        <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="starttime" class="form-control">
                        <owl-date-time [pickerType]="'timer'" [pickerMode]="'dialog'" #dt></owl-date-time>
                      </div>
                    </div>
                    <div class="col-md-12 px-1">
                      <div class="form-group">
                        <label>EndTime</label>
                        <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="endtime" class="form-control">
                        <owl-date-time [pickerType]="'timer'" [pickerMode]="'dialog'" #dt1></owl-date-time>
                      </div>
                    </div>
                    <div class="col-md-12 px-1">
                      <div class="form-group">
                        <label>Shift time</label>
                        <input type="number" class="form-control" placeholder="Enter shifttime eg.480,720"  id="shifttime" name="shifttime" [(ngModel)]="shifttime">
                      </div>
                    </div>
                    <div class="text-center">
                        <!-- <button type="button" class="btn btn-primary mt-4">Save</button> -->
                        <button class="btn btn-primary mt-4 btn-round" (click)="AddData()" *ngIf="id === 0">Submit</button>
                        <button class="btn btn-success mt-4 btn-round" (click)="UpdateData()" *ngIf="id >= 1">Update</button>
                    </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                    <h3 class="mb-0 text-center">MachineData</h3>
                    </div>
                    <!-- <div class="col text-right">
                    <a href="#!" class="btn btn-sm btn-primary"> all</a>
                    </div> -->
                </div>
                </div>
                <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                         <th scope="col">
                            SrNo
                          </th>
                          <th scope="col">
                            Shift No
                          </th>
                          <th scope="col">
                            Shift Starttime
                          </th>
                          <th scope="col">
                            shift Endtime
                          </th>
                          <th scope="col">
                           Shift time(Min.)
                          </th>
                          <th scope="col" class="text-right">
                            Created
                          </th>
                          <th scope="col" class="text-right">
                            Modified
                          </th>
                          <th class="text-right">
                            Action
                          </th>
                        <!-- <th scope="col">Page name</th>
                        <th scope="col">Visitors</th>
                        <th scope="col">Unique users</th>
                        <th scope="col">Bounce rate</th> -->
                    </tr>
                    </thead>
                    <tbody *ngFor="let shift of ShiftData">
                        <tr >
                          <th scope="row">
                            {{shift.id}}
                          </th>
                          <td>
                            {{shift.shiftno}}
                          </td>
                          <td>
                            {{shift.starttime | date:'HH:mm:ss': 'locale' }}
                          </td>
                          <td>
                            {{shift.endtime | date:'HH:mm:ss': 'locale' }}
                          </td>
                          <td>
                            {{shift.shifttime}}
                          </td>
                          <td class="text-right">
                            {{shift.created}}
                          </td>
                          <td class="text-right">
                            {{shift.modified}}
                          </td>
                          <td>
                            <button type="button" class="btn btn-info btn-round btn-sm" (click)="Edit($event,shift.id)">Edit</button>
                            <button type="button" class="btn btn-danger btn-round btn-sm" (click)="Delete($event,shift.id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
</div>
