<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="card card-stats mb-2 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <label for="dateValue" class="form-control">From : </label>
                      <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="dateValue" class="form-control">
                      <owl-date-time [pickerMode]="'dialog'" #dt></owl-date-time>
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                    </div>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <label for="dateValue1" class="form-control">To : </label>
                      <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="dateValue1" class="form-control">
                      <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                    </div>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <label for="dateValue1" class="form-control">Machine </label>
                      <select class="form-control" placeholder="MachineName" [(ngModel)]='machineno' id="machineno" name="machineno" *ngIf="MachineData" >
                        <option value="All">All</option>
                        <option *ngFor="let machine of MachineData" [value]="machine.friendly_name">{{machine.machine_name}}</option> 
                    </select>
                    </div>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;               
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" (click)="showData()">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-sm-12 mb-5 mb-xl-0 mt-1" >
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Energy Consumption Hourly</h3>
              </div>
              <div class="col text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
          <div class="table-responsive" *ngIf="batchDetail">
            <!-- Projects table -->
            <table class="table  align-items-center table-flush" datatable [dtOptions]="dtOptions">
              <thead class="thead-light">
                    <tr >
                        <th scope="col" *ngFor="let data of headers;let i =index">{{data}}</th>
                    </tr>
              </thead>
              <tbody >
                <tr *ngFor="let data of batchDetail;let j =index">
                    <td >{{data.Date | date:'dd-MM-yy HH:mm:ss':'+0530'}}</td>
                    <td >{{data.energy}}</td>
                    <td *ngIf="mtype">{{data.energy1}}</td>
                    <td *ngIf="mtype">{{data.energy2}}</td>
                    <td *ngIf="mtype">{{data.energy3}}</td>
                    <td *ngIf="mtype">{{data.energy4}}</td>
                    <td *ngIf="mtype">{{data.energy5}}</td>
                    <td *ngIf="mtype">{{data.energy6}}</td>                     
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
