::ng-deep .modal-dialog{
    max-width: 95% !important;
    width: 95% ;
  }
  ::ng-deep .cdk-overlay-container{
    z-index:1200 !important;
}

td.wrappable,
table.data_table td.wrappable {
    white-space: normal;
}  
.blink{
  // width:200px;
  // height: 50px;
 // color: red !important;
  // padding: 15px;	
  // text-align: center;
  // line-height: 50px;
}
span{
 // font-size: 25px;
 // font-family: cursive;
  font-weight: bold;
  color: red !important;
  animation: blink 1s linear infinite;
}
@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}